html, #root{
    height: 100%;
}

body {
    background-color: lightgray;
    height: 100%;
    font-family: monaco,"Ubuntu Mono",courier,monospace!important;
    margin: 0px;
}

.makeStyles-username-4:hover{
    border-bottom: 2px solid white;
    cursor: pointer;
}